@import "src/utilities/colors.scss";

.score-button {
  margin-top: 1rem;
  font-size: 16pt;
  padding: 0.5rem;
  text-align: center;
  font-weight: bold;
  border-radius: 2rem;

  &__disabled {
    color: darkgray;
  }

  &__not-disabled {
    cursor: pointer;
    border: 2px solid $yellow;
    background: none;

    &:hover {
      background-color: $yellow;
      color: white;
    }
  }
}

//TODO Få denne ut i en egen komponent
.select-component {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.select-component-input {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.checkbox-component {
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 0 0;
}

.checkbox-component-label {
  margin-left: 1rem;
}

.add-points-button {
  display: block;
  margin: 1rem auto 0 auto;
}
