@import "src/utilities/colors.scss";

.leader-board-row {
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid $yellow;
  font-size: 16pt;
}

td {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
