.modal {
  align-items: center;
  display: grid;
  grid-template: 1fr/55rem;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);

  &__content {
    position: relative;
    background-color: white;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 1rem;
  }

  &__close-button {
    position: absolute;
    height: 2rem;
    top: 1rem;
    right: 1rem;
  }
}
