.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-button-content {
  margin-top: 2rem;
}

.complete-button {
  display: block;
  margin: 1rem auto 0 auto;
}

.add-team-form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.error {
  color: red;
}

.add-team-form-name {
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.registered-teams {
  display: flex;
  flex-direction: column;
}
