.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-button-content{
  margin-top: 2rem;
}

.header-button{
  background-color: red;
  padding: 1rem;
}

.complete-button{
  display: block;
  margin: 1rem auto 0 auto;
}
