@import "src/utilities/colors.scss";

.add-team-modal {
  padding: 2rem 0;

  &__complete-button {
    display: block;
    margin: 1rem auto 0 auto;
    font-size: 12pt;
    padding: 1rem;
    border: 2px solid $yellow;
    border-radius: 100px;

    &:hover {
      color: $blue;
      background-color: $yellow;
      border: 2px solid $blue;
      transition: 500ms;
    }
  }
}
