@import "utilities/colors.scss";

.App {
  text-align: center;
  font-family: Arial, Courier, Helvetica, serif;
  min-height: 100%;
  background-color: $blue;
  color: $yellow;
}

#root{
  height: 100%;
}
